html,
body {
  height: 100%;
}
ul#flex-container {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-direction: row;
  flex-wrap: wrap;
  /*justify-content: space-around; center, flex-start, space-between; */
  height: 300px;
  align-items: stretch;/*flex-start,flex-end,center,stretch*/
}
ul li {
  width: 100px;
  padding-top: 45px;
  color: #fff;
  font-weight: bold;
  font-size: 2.2em;
  text-align: center;
}
ul li:first-child {
  background: #c2d775;
}
ul li:nth-child(2) {
  background: #007278;
}
ul li:nth-child(3) {
  background: #c7b600;
  align-self: flex-end; /*overwrites align-item prop from parent*/ 
}
ul li:nth-child(4) {
  background: #a90077;
}
ul li:nth-child(5) {
  background: #00a378;
}
ul li:last-child {
  background: #00ea72;
}
